<!DOCTYPE web-app PUBLIC
  '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
  'http://java.sun.com/dtd/web-app_2_3.dtd'>
<web-app>
    <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>EventListener</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/listen</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>example</servlet-name>
    <servlet-class>SampleServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>example</servlet-name>
    <url-pattern>/print</url-pattern>
  </servlet-mapping>
</web-app>